
body {
    align-self: center;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
} 
p {
    text-align: justify; 
    text-decoration-style: wavy;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 } 
 h2 {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

 .celda { min-width: thick;}

 table, tr,  th, td {
    border-collapse: separate;
}
