@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Gochi+Hand&family=Hachi+Maru+Pop&family=Lateef&family=Leckerli+One&display=swap');
html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background: #F2CC8F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(#F4F1DE, #F2CC8F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#F4F1DE, #F2CC8F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
div {
    box-sizing: border-box;
}
/*===========NAV===========*/
.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 2rem;
    padding-right: 2rem;
    background: #f4eed7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(#F4F1DE, #f4eed7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#F4F1DE, #f4eed7);
}
.color {
    color: #E07A5F  !important;
    padding-left: 1.5rem;
}
/*==============INTRO=================*/
h1 {
    font-family: 'Leckerli One', cursive;
}
h2, h3, h4 {
    font-family: 'Yomogi', cursive ;
}
.pres {
    width: 100%;
    height: 100%;
    font-family: 'Leckerli One', cursive;
    color: #81b29a;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
    overflow: hidden;
    fill: #81B29A;
}
.ola {
    height: 100%; 
    width: 100%;
}
@media (min-width: 0px) and (max-width: 576px) {
    .intro {
        width: 100vw;
        height: 100vh;
    }
    .hidden {
        height: 100vh;
    }
    .pres {
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: flex-end;
    color: #E07A5F;
    z-index: 3;
    margin-top: 10%;
    }
    .container, .row, .pres {
    display: block !important;
    width: 100vw !important;
    }
    img {
        padding: 2%;
    }
    .back {
        background-image: url(rio.png);
    }
    }
    @media (min-width: 576px) and (max-width: 768px) {
    .container {
    display: block;
    position: absolute;
        }
    .footer {
    text-align: center !important;
    }
}
span {
    color: black;
}
.girl {
    width: 85%;
    margin-left: 5rem;
    margin-right: auto;
    overflow: hidden;
}
.index {
    z-index: 3;
}
#frase {
    text-align: center;
}
.wave {
    stroke: none; 
}
/*============SEPARADOR=================*/
#separator {
    width: 100%;
}
.content {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #81B29A;
}
/*==============SOBRE-MI=================*/
.card {
    border: none !important;
}
.estilo h1{
    font-family: 'Yomogi', cursive !important;
    height: 25vh;
}
.sobre-mi {
    background: #F4F1DE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(#81B29A, #F4F1DE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#81B29A, #F4F1DE);
}
.bubble  {
    background-color: transparent;
    width: 154px;
    height: 154px;
    border-radius: 50%;
    position: absolute !important;
    overflow: hidden;
    top: 35%;
    right: 40%;
}
.imagenes {
    height: auto;
    overflow: hidden;
}
.position {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
ol, ul {
    font-size: 1.5rem;
    list-style-type: none;
    padding-left: 0;
    line-height: 35pt;
    font-family: 'Yomogi', cursive;
}
.display {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.fondo {
    height: auto;
    bottom: 0;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    margin-top: 20vh;
}
.bubble, .bubbling-design-icons-vert {
    background-image: url(imagenweb.png) ;
    background-size: 154px 462px;
    animation-name: bubblinger-vert-down;
    width: 154px;
    height: 154px;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1,0,0,1);
    position: absolute;
    right: 0;
    margin: auto;
    
}
.absolute {
    position: absolute;
}
@keyframes bubblinger-vert-down { 
    0% { background-position: 0 0;}
    5% {background-position: 0 154px;}
    40% { background-position: 0 308px;}
    73% { background-position: 0 462px;}
    100% { background-position: 0 462px;}
}
/*===========FOOTER=============*/
footer {
    width: 100%;
    background-color: #fdd5da ;
    bottom: 0;
}
a {
    text-decoration: none;
}
